* {
	box-sizing: border-box;	 
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: #87879D;
	background-color: grey;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 900;
	color: #28283D;
}
.wrapper {
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
}
header {
	text-align: center;
	margin: 80px 0 61px 0;
}
header img {
	width: 119px;
}
.new-hero {
	display: none;
}
.hero {
	max-width: 1440px;
	width: 100vw;
	text-align: center;
	margin: 0 auto 194px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.faces {
	flex-basis: 394px;
	flex-grow: 0;
	flex-shrink: 0;
	height: 303px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: end;
}
div.faces:first-of-type {
	align-self: start;
	position: relative;
	left: -32px;
}
div.faces:first-of-type div:nth-of-type(2) {
	align-self: flex-start;
}
div.faces:last-of-type {
	position: relative;
	right: -32px;
}
div.faces:last-of-type div:first-of-type,
div.faces:last-of-type div:last-of-type {
	align-self: flex-start;
}
.face img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	vertical-align: bottom;
}
.faces>div{
	height: 248px;
	width: 110px;
}
.faces>div>div{
	margin-bottom: 28px;
}
.about {
	width: 540px;
	padding-bottom: 7px;
}
.about h1 {
	font-size: 64px;
	line-height: 64px;
	margin-bottom: 34px;
}
.about p {
	margin: 34px 0 32px 0;
}
.btn-download {
	color: #ffffff;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 900;
	background-color: #4D96A9;
	padding: 16px 44px 16px 40px;
	border: none;
	border-radius: 29px;
	margin-right: 16px;
}
.btn-download span {
	color: #8FE3F9;
}
.btn-what {
	background-color: #855FB1;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 900;
	padding: 16px 29px;
	border: none;
	border-radius: 29px;
	color: #ffffff;
}

.btn-download:hover {
	background-color: #71C0D4;
	cursor: pointer;
}
.btn-what:hover {
	background-color: #B18BDD;
	cursor: pointer;
}
.numeric {
	margin: 0 auto 64px;
	padding: 15px 0;
	width: 56px;
	height: 56px;
	border: 1px solid rgba(135, 135, 157, 0.25);
	border-radius: 50%;
	text-align: center;
	font-weight: 900;
	line-height: 26px;
	position: relative;
	z-index: 1;
}
div.numeric::before {
	content: "";
	display: block;
	width: 1px;
	height: 84px;
	background-color: #87879D;
	opacity: 0.25;
	position: absolute;
	bottom: 100%;
	left: 50%;
}
div.numeric::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffffff;
	border-radius: 50%;
	z-index: -1;
}
.everyday-img {
	max-width: 1110px;
	max-height: 242px;
	margin: 0 auto 80px;
	display: flex;
	justify-content: space-between;
}
.everyday-img img {
	flex-basis: 255px;
	flex-shrink: 1;
	max-height: 242px;
	border-radius: 8px;
	vertical-align: bottom;
}
.everyday-img img:nth-of-type(3) {
	border-top: 5px solid #D8D8D8;
}
.pros {
	max-width: 540px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 184px;
}
.pros p:first-of-type {
	color: #4D96A9;
	font-weight: 900;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 26px;
	
}

.pros h2 {
	font-size: 40px;
	line-height: 44px;
	margin: 16px 0 32px 0;
	padding: 0 60px;
}
.footer {
	padding-top: 116px;
	padding-bottom: 104px;
	background-color: #4D96A9;
	position: relative;
	z-index: 0;
}
.footer::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url('assets/desktop/image-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.1;
	z-index: -1;
}
.footer-wrapper {
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-wrapper div:first-of-type,
.footer-wrapper div:nth-of-type(2){
	flex-basis: 350px;
}
.footer-wrapper h2 {
	margin: 0;
	font-size: 40px;
	line-height: 44px;
	color: rgba(250, 250, 250, 1);
	
}
.footer-wrapper p {
	margin: 0;
	color:rgba(250, 250, 250, 1);
}
.footer-wrapper .btn-download {
	margin: 0;
	font-family: 'Red Hat Display', sans-serif;
	background-color: #855FB1;
	color: #ffffff;
}
.footer-wrapper .btn-download span {
	font-family: 'Red Hat Display', sans-serif;
	color: #D9B8FF;
}
.footer-wrapper .btn-download:hover {
	background-color: #B18BDD;
	cursor: pointer;
}
.footer .numeric {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: -28px;
}
@media screen and (max-width:1236px) {
	main {
		padding: 0 40px 0 39px;
	}
	.everyday-img {
		column-gap: 11px;
		margin-bottom: 48px;
	}
	.everyday-img div {
		height: auto;
	}
	.everyday-img img {
		width: 100%;
		height: auto;
		flex-shrink: 1;
	}
	.pros {
		max-width: 573px;
		margin-bottom: 192px;
	}
	.pros p {
		font-size: 16px;
	}
}
@media screen and (max-width: 1200px) {
	.about {
		width: 457px;
	}
	.about h1 {
		font-size: 48px;
		line-height: 48px;
		margin-bottom: 24px;
	}
	.about p {
		font-size: 16px;
		margin: 24px 0 32px 0;
	}
	.footer-wrapper {
		padding: 0 40px;
		column-gap: 30px;
	}
}
@media screen and (max-width: 1139px) {
	.hero {
		align-items: flex-start;
		justify-content: center;
		height: auto;
		width: 820px;
		flex-wrap: wrap;
		margin-bottom: 164px;
		
	}
	div.faces:first-of-type {
		left: 0;
		margin-right: 16px;
	}
	div.faces:last-of-type {
		right: 0;
		margin-left: 16px;
		order: 2;
	}
	.about {
		order: 3;
	}
	.about h1 {
		margin-top: 72px;
	}
	.footer {
		padding-top: 92px;
		padding-bottom: 66px;
	}
	.footer::after {
		background-image: url('assets/tablet/image-footer.jpg');
		background-position: center center;
	}
	.footer-wrapper {
		display: block;
		text-align: center;
	}
	.footer-wrapper h2 {
		width: 457px;
		margin: 0 auto 32px auto;
	}
	.footer-wrapper p {
		width: 573px;
		margin: 0 auto 40px auto;
	}
}
@media  screen and (max-width: 860px) {
	header {
		margin: 48px 0 64px 0;
	}
	.faces {
		display: none;
	}
	.hero {
		overflow: hidden;
		width: 100vw;
		display: block;
	}
	.new-hero {
		display: block;
		text-align: center;
		width: 110vw;
		position: relative;
		left: -5vw;
	}
	.new-hero img {
		max-width: 820px;
		width: 100%;
		height: auto;
	}
	.about {
		margin: 0 auto;
	}
	/*.footer {
		height: 428px;
	}
	.footer::after {
		background-image: url('assets/tablet/image-footer.jpg');
		background-position: center center;
	}
	.footer-wrapper {
		display: block;
		text-align: center;
	}
	.footer-wrapper h2 {
		width: 457px;
		margin: 0 auto 32px auto;
	}
	.footer-wrapper p {
		width: 573px;
		margin: 0 auto 40px auto;
	}*/
}

@media screen and (max-width:600px) {
	header {
		margin: 48px 0 54px 0;
	}
	main {
		padding: 0 24px;
	}
	.everyday-img {
		max-width: 327px;
		max-height: 100%;
		flex-wrap: wrap;
		column-gap: 25px;
		row-gap: 24px;
		justify-content: center;
		align-content: center;
		margin-bottom: 64px;
	}
	.everyday-img div {
		flex-basis: 151px;
		flex-shrink: 1;
	}
	.about {
		width: 100%;
		padding: 0 24px;
	}
	.about h1 {
		font-size: 40px;
		line-height: 44px;
		margin-top: 48px;
	}
	.about .btn-download {
		display: block;
		margin: 0 auto 16px auto;
	}
	.about .btn-what {
		display: block;
		margin: 0 auto;
	}
	main {
		margin-top: 141px;
	}
	.pros h2 {
		font-size: 32px;
		line-height: 36px;
		margin-top: 24px;
		padding: 0;
	}
	.footer {
		padding-bottom: 72px;
	}
	.footer-wrapper {
		width: 100%;
		height: 100%;
		padding: 0 24px;
	}
	.footer-wrapper h2 {
		width: 100%;
		margin-bottom: 24px;
		font-size: 32px;
		line-height: 36px;
	}
	.footer-wrapper p {
		width: 100%;
		margin-bottom: 32px;
	}
}
@media screen and (max-width: 374px) {
	.everyday-img {
		display: block;
	}
	.everyday-img div {
		margin-bottom: 24px;
	}
	.everyday-img div img {
		max-height: initial;
	}
	.footer-wrapper p {
		margin-bottom: 32px;
	}
}